---
import { basics } from "../../resume.json"
import Section from "@/components/resume/Section.astro"

const { name, label, profiles, email } = basics
---

<Section>
  <div class="flex justify-between items-end">
    <h1 class="text-xl font-bold text-primary uppercase">{name}</h1>
    <p class="uppercase text-base text-primary">{label}</p>
  </div>
  <div>
    <nav class="flex gap-1 text-blue-600 text-xs justify-end">
      <span class="print:hidden">
        <a
          href=`mailto:${email}`
          title=`Send an email to ${name}`
          target="_blank"
          rel="noopener noreferrer"
          class="hover:bg-primary hover:text-white py-[2px] px-1 hover:rounded"
        >
          Email
        </a>
      </span>
      <span class="print:block hidden">
        <a
          href=`mailto:${email}`
          title=`Send an email to ${name}`
          target="_blank"
          rel="noopener noreferrer"
          class="hover:bg-primary hover:text-white py-[2px] px-1 hover:rounded"
        >
          {email}
        </a>
      </span>
      <span>|</span>
      {
        profiles.map(({ url, username, network }) => {
          return (
            <>
              <span>
                <a
                  href={url}
                  title={`Visit ${network} profile of ${username}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:bg-primary hover:text-white py-[2px] px-1 hover:rounded"
                >
                  {network}
                </a>
              </span>
              <span>|</span>
            </>
          )
        })
      }
      <span>
        <a
          href="https://portfolio-larry.netlify.app/"
          title=`${name} portfolio`
          target="_blank"
          rel="noopener noreferrer"
          class="hover:bg-primary hover:text-white py-[2px] px-1 hover:rounded"
        >
          Portfolio
        </a>
      </span>
    </nav>
  </div>
</Section>
