---
import Live from "@/icons/Live.astro"
import Button from "./Button.astro"
import Tag from "./Tag.astro"
import Github from "@/icons/Github.astro"

export interface Project {
  title: string
  description: string
  smallDescription: string
  image: string
  technologies: string[]
  url: string
  github: string
  enterprise: string
  stack: string
  year: string
}

const PROJECT = Astro.props as Project

const {
  title,
  description,
  smallDescription,
  image,
  technologies,
  url,
  github,
  enterprise,
  stack,
  year,
} = PROJECT
---

<article
  class="flex w-[1156px] bg-slate-900 rounded-xl p-6 gap-11 border border-indigo-800 shadow-indigo-400 shadow-inner"
>
  <picture class="w-[50%] rounded-xl overflow-hidden">
    <img
      src={image}
      alt={title}
      loading="lazy"
      class="transition-all duration-300 hover:scale-150"
    />
  </picture>
  <article class="flex flex-col w-[50%] leading-6 gap-6">
    <h2 class="text-4xl font-bold">{title}</h2>
    <article class="flex leading-6 content-center">
      <span class="text-lg text-green-300 mr-8">{enterprise}</span>
      <ul
        class="flex list-disc gap-8 [&>li]:opacity-70 content-center items-center"
      >
        <li>{stack}</li><li>{year}</li>
      </ul>
    </article>
    <p class="text-pretty leading-6">{description}</p>
    <article class="flex gap-2 flex-wrap">
      {technologies.map((technology) => <Tag>{technology}</Tag>)}
    </article>
    <div class="mt-4 flex gap-x-3">
      <Button>
        <div class="flex w-full h-full justify-center items-center gap-x-1">
          <a
            href={url}
            target="_blank"
            aria-label={`See Live ${title}`}
            rel="nooppener noreferrer">See Live</a
          ><Live />
        </div>
      </Button>
      <Button>
        <div class="flex w-full h-full justify-center items-center gap-x-1">
          <a
            href={github}
            target="_blank"
            aria-label={`See source ${title}`}
            rel="nooppener noreferrer">See source</a
          ><Github class="size-6" />
        </div>
      </Button>
    </div>
  </article>
</article>

<dialog
  id="project"
  class="w-full h-full bg-black/30 backdrop-sepia p-0 m-0 border-lime-300"
>
  <button id="close" class="px-2 py-1 bg-slate-50 text-black mx-auto my-0"
    >close</button
  >
</dialog>

<!-- <script
  define:vars={{
    title,
    description,
    smallDescription,
    image,
    technologies,
    url,
    github,
    enterprise,
    stack,
    year,
  }}
>
  const btnSee = document.querySelectorAll(".see")
  const dlgProject = document.getElementById("project")

  btnSee.forEach((btn, key) => {
    btn.addEventListener("click", () => {
      // const dlgProjectModal = dlgProject as HTMLDialogElement
      console.log(title, key)
      dlgProject.showModal()
    })
  })

  const btnclose = document.getElementById("close")
  btnclose.addEventListener("click", function () {
    // const dlgProjectModal = dlgProject as HTMLDialogElement
    dlgProject.close()
  })
</script> -->
